
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# --- PlatformIO ---
.pio/
.clangd/
compile_commands.json
.pioenvs/
.piolibdeps/

# --- Build Artifacts ---
build/
*.bin
*.elf
*.map

# --- OS Junk ---
.DS_Store
Thumbs.db
ehthumbs.db

# --- Secrets / Env ---
.env
*.local